.void-loader {
  --uib-size: 45px;
  --uib-color: hsl(var(--primary));
  --uib-speed: 2s;

  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--uib-size);
  width: var(--uib-size);
}

.void-loader > div,
.void-loader::before,
.void-loader::after,
.void-loader > div::before,
.void-loader > div::after {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background-color: var(--uib-color);
}

.void-loader > div {
  opacity: 0.5;
  animation: void-pulse var(--uib-speed) ease-in-out infinite;
}

.void-loader::before,
.void-loader::after,
.void-loader > div::before,
.void-loader > div::after {
  content: '';
  transform: scale(0);
  animation: void-pulse var(--uib-speed) ease-in-out infinite;
}

.void-loader::after {
  animation-delay: calc(var(--uib-speed) / -4);
}

.void-loader > div::before {
  animation-delay: calc(var(--uib-speed) / -2);
}

.void-loader > div::after {
  animation-delay: calc(var(--uib-speed) * -0.75);
}

@keyframes void-pulse {
  0% {
    transform: scale(2);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}

.dark .void-loader {
  --uib-color: hsl(var(--accent));
}